## 자료형

#### 숫자형 : 숫자 형태로 이루어진 자료형

In [1]:
a = 120
b= 40

In [2]:
a

120

In [3]:
b

40

In [4]:
# 나누기
a/b

3.0

In [6]:
# 제곱
(a/b)**2

9.0

In [7]:
# 나머지
a%b

0

In [8]:
# 몫
a//b

3

#### 문자열 : 문자, 단어 등으로 구성된 문자들의 집합

In [14]:
s1 = 'I am Sam' # 작은따옴표로 양쪽 둘러싸기
s2 = "This is awesome" # 큰따옴표로 양쪽 둘러싸기

In [15]:
s1

'I am Sam'

In [16]:
s2

'This is awesome'

In [17]:
type(s1)

str

In [18]:
type(s2)

str

In [19]:
# 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기
"""Life is too short, You need Python"""

'Life is too short, You need Python'

In [20]:
# 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기
'''Life is too short, You need Python'''

'Life is too short, You need Python'

In [ ]:
# She is Paul's friend 출력하기 (문자열 안에 작은따옴표가 있는 경우)

In [21]:
"She is Paul's friend"

"She is Paul's friend"

In [ ]:
# "Python is very easy." he says. 출력하기 (문자열 안에 큰따옴표가 있는 경우)

In [22]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [23]:
# 백슬래시(\) 사용
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [ ]:
## 개행 (여러 줄인 문자열의 경우)

In [25]:
# 줄을 바꾸는 이스케이프 코드(\n) 삽입
multiline = "I am Sam\nWho is this"
print(multiline)

I am Sam
Who is this

In [26]:
print("I am Sam\nWho is this")

I am Sam
Who is this

In [28]:
# 연속된 작은따옴표 3개(''') 사용
multiline1 = '''I am Sam
Who is this'''
print(multiline1)

I am Sam
Who is this

In [29]:
# 연속된 큰따옴표 3개(""") 사용
multiline2 = """I am Sam
Who is this"""
print(multiline2)

I am Sam
Who is this

In [ ]:
## 문자열 연산

In [30]:
h = 'I '
t = 'am Sam '
h+t

'I am Sam '

In [31]:
(h+t)*2

'I am Sam I am Sam '

In [32]:
print('='*20)
print('awesome')
print('='*20)

====================
awesome
====================

In [33]:
len(h+t)

9

In [ ]:
## 문자열 인덱싱 (인덱스 0부터 시작)

In [34]:
(h+t)[7]

'm'

In [36]:
d = h+t
d

'I am Sam '

In [37]:
print(d)

I am Sam

In [38]:
d[-1] # 맨 뒤에서 첫번째 값

' '

In [ ]:
## 문자열 슬라이싱 : a[시작 번호 : 끝 번호] 단, 끝 번호 해당 값 포함 X

In [39]:
d[0]+d[1]+d[2]+d[3]

'I am'

In [40]:
d[-9]+d[-8]+d[-7]+d[-6]

'I am'

In [41]:
d[0:4]

'I am'

In [42]:
d[-9:-5]

'I am'

In [43]:
d[2:]

'am Sam '

In [44]:
d[:4]

'I am'

In [46]:
test = '20190727cool'

In [47]:
year = test[:4]
date = test[4:8]
condition = test[8:]

In [48]:
print(year, date, condition)

2019 0727 cool

In [ ]:
# 연습) test 문자열에서 c를 k로 바꾸기

In [49]:
test[:8] + 'k' + test[9:]

'20190727kool'

In [50]:
test[:-4] + 'k' + test[9:]

'20190727kool'

In [ ]:
## 문자열 포맷팅

In [51]:
"I eat %d apples." %3 #digit

'I eat 3 apples.'

In [52]:
"현재 온도는 %d도입니다." %20

'현재 온도는 20도입니다.'

In [53]:
"현재 온도는 %s도입니다." %'이십'

'현재 온도는 이십도입니다.'

In [54]:
num = 7
"I eat %d apples." %num

'I eat 7 apples.'

In [56]:
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." %(number, day)

'I ate 10 apples, so I was sick for three days.'

In [57]:
# %를 출력하려면 %%
"Probability is %d%%" %99

'Probability is 99%'

In [58]:
# %s : 문자열(String)
# %c : 문자 1개(character)
# %d : 정수(Integer)
# %f : 부동소수(floating-point)

In [ ]:
## 문자열 정렬 및 공백

In [1]:
# 오른쪽 정렬
t = "%10s" %"hi"  # 문자열 전체 길이 10자리 중 hi 제외 8자리는 공백
t

'        hi'

In [2]:
# 왼쪽 정렬
t = "%-10s" %"hi"
t

'hi        '

In [3]:
# 소수점 이하 4자리까지만 나타내고 싶은 경우
"%0.4f" %3.425897

'3.4259'

In [4]:
"%10.4f" %3.425897

'    3.4259'

In [ ]:
## format 함수 사용 포맷팅

In [5]:
# 숫자 대입
"I eat {0} apples.".format(3)  # 문자열 내 중괄호 안의 숫자는 인덱스를 의미

'I eat 3 apples.'

In [6]:
# 문자열 대입
"I eat {0} apples.".format("five")

'I eat five apples.'

In [7]:
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

In [8]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples, so I was sick for {1} days.".format(number, day)

'I ate 10 apples, so I was sick for three days.'

In [9]:
# 이름으로 넣기
"I ate {number} apples, so I was sick for {day} days.".format(number = 10, day = "three")

'I ate 10 apples, so I was sick for three days.'

In [10]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples, so I was sick for {day} days.".format(10, day = "three")

'I ate 10 apples, so I was sick for three days.'

In [11]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [12]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [14]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [15]:
# 공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [16]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [ ]:
## f문자열 포맷팅

In [17]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [19]:
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [21]:
d = {'name' : '홍길동', 'age' : 30}
f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [24]:
# 왼쪽 정렬
f"{'hi':<10}"

'hi        '

In [25]:
# 오른쪽 정렬
f"{'hi':>10}"

'        hi'

In [26]:
# 가운데 정렬
f"{'hi':^10}"

'    hi    '

In [29]:
# 공백 채우기
f"{'hi':=^10}"

'====hi===='

In [30]:
f"{'hi':!<10}"

'hi!!!!!!!!'

In [32]:
# 소수점 표현
y = 3.42134234
f"{y:0.4f}"

'3.4213'

In [33]:
f"{y:10.4f}"

'    3.4213'

In [35]:
# '!!!python!!!' 출력하기
f"{'python':!^12}"

'!!!python!!!'

In [ ]:
## 문자열 관련 함수

In [38]:
# 문자 개수 세기 : count
a = 'hobby'
a.count('b') # 문자열 중 문자 b의 개수를 반환

2

In [39]:
# 위치 알려주기 : find
a = 'Python is the best choice'
a.find('b') # 문자열에서 b가 처음 나온 위치

14

In [40]:
a.find('k') # 문자열에서 k는 존재하지 않으므로 -1 반환

-1

In [43]:
# 위치 알려주기 : index
a.index('b')

14

In [45]:
# a.index('k') # find 함수와 구분, 존재하지 않는 문자를 찾으면 오류 발생

In [46]:
# 문자열 삽입
",".join('abcd') # abcd 문자열의 각각의 문자 사이에 ','를 삽입

'a,b,c,d'

In [47]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [49]:
# 소문자를 대문자로 바꾸기 : upper
a = 'hi'
a.upper()

'HI'

In [52]:
# 대문자를 소문자로 바꾸기 : lower
a = 'HI'
a.lower()

'hi'

In [53]:
# 왼쪽 공백 지우기 : lstrip
a = ' hi '
a.lstrip()

'hi '

In [55]:
# 오른쪽 공백 지우기 : rstrip
a.rstrip()

' hi'

In [56]:
# 양쪽 공백 지우기 : strip
a.strip()

'hi'

In [57]:
# 문자열 바꾸기 : replace
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [60]:
# 문자열 나누기 : split
a = "Life is too short"
a.split() # 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어 준다

['Life', 'is', 'too', 'short']

In [62]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

#### 리스트 자료형

In [63]:
odd = [1, 3, 5, 7, 9] # 대괄호로 감싸준다
type(odd)

list

In [ ]:
# 리스트 안에는 어떠한 자료형도 포함시킬 수 있다

In [64]:
a = [1, 2, 'a']
type(a)

list

In [65]:
# 빈 리스트
a = []
type(a)

list

In [75]:
a = []
a.extend([1, 2, 3])
a

[1, 2, 3]

In [ ]:
## 리스트 인덱싱

In [76]:
a = [1, 2, 3]
a[0]

1

In [77]:
a[0]+a[1]+a[2]

6

In [78]:
a[-1]

3

In [79]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [80]:
a[-1]

['a', 'b', 'c']

In [81]:
a[-1][0]

'a'

In [82]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [83]:
# Life, is 추출하기
print(a[-1][-1][0], a[-1][-1][1])

Life is

In [ ]:
## 리스트 슬라이싱

In [84]:
a = [1, 2, 3, 4, 5]

In [85]:
a[0:2] # [1,2]

[1, 2]

In [86]:
a[:2]

[1, 2]

In [87]:
a[2:]

[3, 4, 5]

In [88]:
a[:2] + a[2:]

[1, 2, 3, 4, 5]

In [ ]:
## 리스트 연산

In [90]:
a = [1, 2, 3]
b = [4, 5, 6]
a+b

[1, 2, 3, 4, 5, 6]

In [93]:
a = [1, 2, 3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [94]:
# 리스트 길이 구하기
len(a)

3

In [95]:
# '3hi' 출력하기
a = [1, 2, 3]
str(a[2])+"hi" # 형 오류 방지 : 정수와 문자열은 서로 더할 수 없으므로 str()

'3hi'

In [ ]:
## 리스트 수정, 삭제 : 리스트는 값을 수정하거나 삭제할 수 있다

In [97]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [98]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [ ]:
## 리스트 관련 함수

In [100]:
# 리스트에 요소 추가 : append
a = [1, 2, 3]
a.append([1, 2, 3, 4])   # 리스트 안에는 어떤 자료형도 추가할 수 있다    
a

[1, 2, 3, [1, 2, 3, 4]]

In [102]:
# 리스트 정렬 : sort
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [103]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [104]:
# 리스트 뒤집기 : reverse
a = [1, 2, 3, 4]
a.reverse()
a

[4, 3, 2, 1]

In [105]:
# 위치 반환 : index -> 리스트에 값이 있으면 그 위치 값 반환, 없으면 오류
a = [1, 2, 3]
a.index(3)

2

In [107]:
# 리스트에 요소 삽입 : insert
# insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [108]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [109]:
# 리스트 요소 제거 : remove
# remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [111]:
# 리스트 요소 끄집어내기 : pop
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제
a = [1, 2, 3]
a.pop()

3

In [112]:
a

[1, 2]

In [113]:
# pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제
a = [1, 2, 3]
a.pop(1)

2

In [114]:
a

[1, 3]

In [115]:
# 리스트에 포함된 요소 x의 개수 세기 : count
a = [1, 2, 3, 1]
a.count(1)

2

In [116]:
# 리스트 확장 : extend
# extend(x)에서 x에는 리스트만 올 수 있다
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [117]:
b = [6, 7]
a.extend(b)

In [118]:
a

[1, 2, 3, 4, 5, 6, 7]

#### 튜플 자료형

- 리스트는 []으로 둘러싸지만 튜플은 ()으로 둘러싼다
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다
- 위 2가지를 제외하고 리스트와 유사

In [119]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))
# t2 = (1, )처럼 단지 1개의 요소만을 가질 때에는 요소 뒤에 콤마를 반드시 붙여야 한다
# t4 = 1, 2, 3처럼 괄호를 생략해도 무방하다

#### 딕셔너리 자료형 : key-value 구조

- 리스트나 튜플처럼 순차적으로 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다

In [121]:
dic = {'name' : 'pey', 'phone' : '0123456789', 'birth' : '1118'}
dic

{'name': 'pey', 'phone': '0123456789', 'birth': '1118'}

In [122]:
a = {1 : 'hi'}
a[1]

'hi'

In [123]:
a = {'a' : [1, 2, 3]}
a['a']

[1, 2, 3]

In [126]:
# 딕셔너리 쌍 추가하기
a = {1 : 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [128]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [129]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [132]:
# 딕셔너리 요소 삭제하기
a = {1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}
del a[1] # key가 1인 key-value 쌍 삭제
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [133]:
# 딕셔너리에서 key 사용해 value 얻기
grade = {'pey' : 10, 'juliet' : 99}

In [134]:
grade['pey']

10

In [135]:
grade['juliet']

99

In [ ]:
# 리스트나 튜플, 문자열은 요솟값을 얻고자 할 때 인덱싱이나 슬라이싱 기법 중 하나를 사용했다. 
# 하지만 딕셔너리는 단 한 가지, key를 사용해 value를 구하는 방법밖에 없다

In [ ]:
## 딕셔너리 관련 함수

In [136]:
# key 리스트 만들기 : keys
a = {'name' : 'pey', 'phone' : '0123456789', 'birth' : '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [137]:
for k in a.keys() :
    print(k)

name
phone
birth

In [138]:
# dict_keys 객체를 리스트로 변환하려면
list(a.keys())

['name', 'phone', 'birth']

In [139]:
# value 리스트 만들기 : values
a.values()

dict_values(['pey', '0123456789', '1118'])

In [140]:
# key-value 쌍 얻기 : items
a.items()

dict_items([('name', 'pey'), ('phone', '0123456789'), ('birth', '1118')])

In [141]:
# key-value 쌍 모두 지우기 : clear
a.clear()
a

{}

In [142]:
# key로 value 얻기 : get
a = {'name' : 'pey', 'phone' : '0123456789', 'birth' : '1118'}
a.get('name')

'pey'

In [143]:
a.get('phone')

'0123456789'

In [144]:
# get(x, '디폴트 값') : 딕셔너리 안에 찾으려는 key 값이 없을 경우, 
# 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때
a.get('foo', 'bar')

'bar'

In [145]:
# 해당 key가 딕셔너리 안에 있는지 조사하기 : in
a = {'name' : 'pey', 'phone' : '0123456789', 'birth' : '1118'}
'name' in a

True

In [146]:
'email' in a

False

#### 집합 자료형

- 중복을 허용하지 않는다
- 순서가 없다(Unordered)

In [147]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [149]:
s2 = set("HELLO")
s2

{'E', 'H', 'L', 'O'}

In [ ]:
# set 자료형은 순서가 없기 때문에 인덱싱으로 값을 얻을 수 없다
# set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 전환한 후 해야 한다

In [152]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [153]:
l1[0]

1

In [154]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [155]:
t1[0]

1

In [156]:
s1 = set([1, 2, 3, 4, 5, 6]) 
s2 = set([4, 5, 6, 7, 8, 9])

In [157]:
# 교집합
s1 & s2

{4, 5, 6}

In [158]:
s1.intersection(s2)

{4, 5, 6}

In [160]:
# 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [161]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [162]:
# 차집합
s1 - s2

{1, 2, 3}

In [164]:
s1.difference(s2)

{1, 2, 3}

In [165]:
s2 - s1

{7, 8, 9}

In [166]:
s2.difference(s1)

{7, 8, 9}

In [ ]:
## 집합 자료형 관련 함수

In [167]:
# 값 1개 추가하기 : add
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [168]:
# 값 여러 개 추가하기 : update -> 여러 개의 값을 한꺼번에 추가할 때
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [169]:
# 특정 값 제거하기 : remove
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}